body,
html {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  /* height: 100vh; */
  background-color: rgb(2, 3, 24);
  text-align: center;
  font-family: "Playfair Display", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  /* background-color: rgba(100, 148, 237, 0.24); */
}
header > img {
  display: block;
  width: 50%;
}
/* styling  the navigation bar */
.navigation {
  display: flex;
  justify-content: center;
  background-color: rgb(218, 165, 32);
  text-transform: uppercase;
}
.navigation ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin: 0 4em;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 1em 2em;
  display: block;
}
.navigation a:hover {
  color: rgb(2, 3, 24);
  background-color: #fff;
}
#menu-toggle {
  border: none;
  background-color: initial;
  color: #fff;
  border-color: rgb(218, 165, 32);
  font-size: large;
}
.main-content {
  display: grid;
  grid-template-columns: repeat(3, 25em);
  grid-template-rows: 25em 35em;
  grid-template-areas:
    "banner banner banner"
    "car1 car2 car3";
  background-color: rgb(2, 3, 24);

  border-right: rgb(218, 165, 32) solid 1em;
  border-left: rgb(218, 165, 32) solid 1em;
  border-bottom: rgb(218, 165, 32) solid 1em;

  justify-content: center;
}

.banner {
  grid-area: banner;

  /* background-image: url("img/banner.png"); */
  background-image: url("img/banner@0.75x.png");
  margin: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  border-radius: 1em;
}
.banner-text {
  font-size: 1.1em;
  font-weight: 800;
  position: absolute;
  top: 13.5em;
  left: 45em;
  background: #dadde4;
  background-color: #dadde4;
  background-image: linear-gradient(
    180deg,
    rgba(218, 165, 32, 1) 10%,
    rgba(218, 171, 54, 1) 20%,
    rgba(218, 177, 76, 1) 30%
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.banner-button {
  font-size: 1em;
  position: absolute;
  top: 17em;
  left: 64em;
  margin: 2em 0;
  padding: 0.5em;
  border-radius: 1em;
  border: none;
  background-color: rgb(2, 3, 24);
  color: rgb(218, 165, 32);
  font-weight: 800;
}
.banner-button:hover {
  background-color: rgb(218, 165, 32);
  color: rgb(2, 3, 24);
}

#card1 {
  grid-area: car1;
  /* background-color: rgb(245, 245, 220); */
  background-image: linear-gradient(to right, #434343 0%, black 100%);

  /* background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500); */
  color: #fff;
}
#card1:hover {
  cursor: pointer;
  box-shadow: 0 24px 38px 3px rgba(255, 255, 255, 0),
    0 9px 46px 8px rgba(255, 255, 255, 0.055),
    0 11px 15px -7px rgba(255, 255, 255, 0.11);
}
#card2 {
  grid-area: car2;

  background-image: linear-gradient(
    to bottom,
    rgb(240, 255, 240),
    rgb(52, 52, 54)
  );

  /* background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500); */

  color: #fff;
}
#card2:hover {
  cursor: pointer;
  box-shadow: 0 24px 38px 3px rgba(255, 255, 255, 0.068),
    0 9px 46px 8px rgba(255, 255, 255, 0.055),
    0 11px 15px -7px rgba(255, 255, 255, 0.11);
}
#card3 {
  grid-area: car3;

  color: #fff;
  /* background-image: linear-gradient(to right, #870000, #190a05); */
  background-image: linear-gradient(
    -120deg,
    rgba(218, 165, 32, 1) 10%,
    rgb(253, 201, 68, 1) 20%,
    rgba(218, 177, 59, 1) 30%
  );
}
#card3:hover {
  cursor: pointer;
  box-shadow: 0 24px 38px 3px rgba(218, 165, 32, 0.1),
    0 9px 46px 8px rgba(253, 201, 68, 0.1),
    0 11px 15px -7px rgba(255, 0, 0, 0.09);
}

.div-img {
  /* outline: #58ff0b solid 2px; */
  width: 23em;
  height: 11em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("/img/expert3.jpg");
  border-radius: 1em 1em 0 0;
}
.div-img1 {
  background-image: url("/img/first5.jpg");
  background-size: 100% 100%;
}
.div-img3 {
  background-image: url("/img/store.png");
  background-size: 100% 100%;
}
.full-card {
  margin: 1em;
  border-radius: 1em;
}
p {
  line-height: 1.5;
  margin: 2em 0;
}
#book-now-btn {
  margin: 0.5em 0;
  padding: 0.5em;
  border-radius: 1em;
  border: none;
}

#book-now-btn:hover {
  background-color: rgb(2, 3, 24);
  color: rgb(218, 165, 32);
}

/* FOOTER AND COPYRIGHT STYLE */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background-color: rgb(2, 3, 24);
  padding: 20px;
}
.logo {
  align-self: center;
}
.copyright {
  text-align: center;
  align-self: flex-end;
  color: rgb(218, 165, 32);
}
.copyright > hr {
  border-bottom: 2px solid rgb(172, 172, 54);
  width: 30em;
  border-radius: 50%;
}
#img-logo {
  width: 30%;
}

.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 1em 1em 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.social-links a:hover {
  color: rgb(2, 3, 24);
  background-color: rgb(218, 165, 32);
}
/* Nav-respon */
@media only screen and (max-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: column;
  }

  .navigation ul {
    display: none;
  }

  .navigation a {
    margin: 1em 0;
    display: block;
  }
  .toggle-button {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .navigation ul {
    display: flex;
  }
}

/* Main content respon */
@media only screen and (max-width: 500px) {
  .main-content {
    grid-template-columns: repeat(2, 20em);
    grid-template-rows: 25em repeat(3, 40em);
    grid-template-areas:
      "banner banner"
      "car1 car1"
      "car2 car2"
      "car3 car3";
  }
  /* BANNER */
  .banner {
    background-position: -11.2em 1em;
  }
  .banner-text {
    font-size: 0.9em;
    top: 22em;
    left: 24em;
  }
  .banner-button {
    font-size: 0.7em;
    top: 65%;
    left: 66.5%;
  }

  /* MAIN */
  .div-img {
    width: 100%;
    height: 18em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 1em 1em 0 0;
  }
  .full-card {
    margin: 1em;
    border-radius: 1em;
  }
  p {
    line-height: 1.5;
    margin: 2em 0;
  }
  #book-now-btn {
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 1em;
    border: none;
  }

  #img-logo {
    width: 80%;
  }
}
